.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.margin-right {
  margin-right: 4rem;
}


/* *******APP NAVBAR COMPONENT********* */

.nav-text-big {
  font-size: 1.5rem;
}

.nav-cart-icon-style {
  display: flex;
  flex-direction: column;
}

.nav-badge-style {
  width: 2rem;
  margin: 0 auto
}

/* **************** */





/* *******HOME COMPONENT********* */


.align-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* **************** */


/* *******PRODUCT COMPONENT********* */
.product-card-style {
  width: 20rem; 
}

.product-image-style {
  width: 100%;
  height: 300px
}

.product-price-style {
  font-size: 1.3rem;
  font-weight: bold
}


/* **************** */



/* *******CART LIST COMPONENT********* */

.big-text {
  margin-top: 6rem;
  padding: 1.5rem
}

/* **************** */


/* ******CART ITEM COMPONENT********** */

.cart-card-image-style {
  width: 100%;
  height: 200px;
  margin-top: 5px;
}

.cart-card-body-style {
  max-width: 300px;
  margin: 0 auto
}


/* **************** */


/* ******BILLING COMPONENT********** */

.billing-card-container {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto
  
}

.billing-card-style {
  max-width: 30rem;

}

/* **************** */

/* React-select styles */

.size-quant-style {
  display: flex;
}

.label-style {
  flex: 1;
}

.select-style {
  flex: 3;
}

/* **************** */














/* .card-bill-style {
  display: flex;
  flex-direction: 'column';
  
 
} */




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
